/*Sets the positioning of where the dropdownBox will be located in the webpage.*/
.dropdown
{
    position: relative;
    display: inline-block;
}

/* This css is responisble for the size and colour of the dropdownbox*/
.dropMenu 
{
    background-color: #FE848D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/*This css styles the list of pages that appear after hovering on the dropdown box*/
.content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/*Sets the font colour and the height of the boxes that contain the links to the otherwebpages.*/
.content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*once a user hovers over an page this slightly darkens the one they have hovered over as to show which one they will be selecting.*/
.content a:hover {background-color: #f1f1f1}

/*This positions the dropdownMenu to appear below the button while hovering over it*/
.dropdown:hover .content 
{
    display: block;
}

.dropdown:hover .dropbtn 
{
    background-color: #FE848D;
}

/*Sets the font for the drop downbutton but not the content within it*/
#drop 
{
    font-family: 'Lobster', serif;
}
