html
{
    height: 100%;
}


button.meditation
{
    background-image:linear-gradient(#FE848D, #F9B89F);
    text-align: center;
    font-size: 40px;
    color: #E3E9CF;
    padding:5em 5em;
    position: static;
    border: none;
    border-radius:50%;
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px;

}

.center 
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }


body
{   
    height: 100%;
    width: 100%;
    background-image:linear-gradient(#F9B89F,#DD8298);
    background-repeat: no-repeat;
    background-size: cover;
}

#countdown
{
    font-size: 500px;
    color: #E3E9CF;
}

#footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    font-family: 'Lobster', serif;
    color:black;
}

a.Git:link{color: #E3E9CF; text-decoration: none;}
a.Git:visited{color: #E3E9CF; text-decoration: none;}
a.Git:hover{color: #0E86D4; text-decoration: underline;}
a.Git:active{color: #055C9D; text-decoration: underline;}


